section.meeting {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    width: 100%;
    min-height: 450px;
    max-height: 600px;
}

.meeting .content {
    flex-grow: 1;
    background-color: #005CA1;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 60px 80px 40px;
    box-sizing: border-box;
    border-radius: 8px 0 0 8px;
    margin: 0 30px 0 0;
    box-shadow: 10px 10px 5px #888;
    position: relative;
    transition: all .3s ease-in-out;
}

.meeting:nth-child(2n) .content {
    background-color: #fff;
    border-radius: 0 8px 8px 0;
    margin: 0 0 0 30px;
    color: #555;
}

.content:hover {
    transform: translate(-1px, -3px);
}

.content p {
    font-size: 1.55rem;
    margin-top: 35px;
    line-height: 1.60rem;
    letter-spacing: 0.05px;
    width: 60%;
}

.bold {
    font-weight: 800;
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: 0.05px;

}

.stroke {
    color: #005CA1;
    text-shadow:
        -1px -1px 0 #fff,  
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
}

.stroke_ {
    color: #09ccb9;
}

.orange {
    color: #09ccb9
}

span.title {
    font-size: 0.95rem;
    font-weight: 700;
    color: #888;
    line-height: 0.98rem;
}

span.title::after {
    content: "";
    position: relative;
    display: block;
    width: 18px;
    border-bottom: 1px solid #888;
    transition: all .3s ease-in-out;
}

.meeting:nth-child(2n+1) span.title {
    color: #fff;
}

.meeting:nth-child(2n+1) span.title::after {
    border-bottom: 1px solid #fff;
}

.meeting .content:hover span.title::after {
    width: 45px;
}

.content h2 {
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 15px;
}

.content ul {
    margin-top: 30px;
    font-size: 1.1rem;
    line-height: 1.1rem;
    counter-reset: li;
}

.content li {
    position: relative;
    border-left: 4px solid #08A191;
    padding: 16px 20px 16px 28px;
    margin: 12px 14px 12px 0px;
    transition: all .3s ease-in-out;
    cursor: default;
    font-weight: 600;
}

.content li:hover {
    border-left: 4px solid #ddd;
}

.meeting:nth-child(2n+1) .content li {
    border-left: 4px solid #ddd;
}

.meeting:nth-child(2n+1) .content li:hover {
    border-left: 4px solid #08A191;
}

.meeting .image {
    width: 37.5%;
    max-height: 600px;
    overflow: hidden;
    height: 100%;
    box-shadow: 10px 10px 5px #888;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    border-radius: 0 8px 8px 0;
}

.meeting:nth-child(2n) .image{
    border-radius: 8px 0 0 8px;
}

.meeting:nth-child(2) .image{
    width: 45%;
}

.meeting:nth-child(2) .image img{
    width: auto;
    height: 600px;
    position: relative;
}

.meeting:last-child .image img {
    width: auto;
    height: 600px;
}

.image img {
    width: 100%;
    height: auto;
}